name: Publish doc image to GHCR and Deploy to K8s

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/ai-reliability-standards
  SHA_TAG: ${{ github.sha }}

jobs:
  publish-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
    
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      json: ${{ steps.meta.outputs.json }}

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate tags & labels
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw, value=latest
            type=sha, value=${{ env.SHA_TAG }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: true
          sbom: true

  deploy-to-k8s:
    needs: publish-image
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to K8s
        run: |
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > kubeconfig.yaml
          export KUBECONFIG=$PWD/kubeconfig.yaml
          kubectl get nodes

          echo "selected image: ${{ fromJson(needs.publish-image.outputs.json).tags[1] }}"

          kubectl set image deployment/ai-reliability-standards ai-reliability-standards=${{fromJson(needs.publish-image.outputs.json).tags[1]}} -n ai-reliability-standards

          kubectl rollout status deployment/ai-reliability-standards -n ai-reliability-standards

          status=$(kubectl rollout status deployment/ai-reliability-standards -n ai-reliability-standards)

          echo "$status"

          if [[ "$status" != *"successfully rolled out"* ]]; then
            kubectl rollout undo deployment/ai-reliability-standards -n ai-reliability-standards
            echo "âŒ Deployment failed. Rolled back." >&2
            exit 1
          fi